.places {
  width: 100%;
  display: flex;
  margin-top: 20px;
  flex-flow: row wrap;
  justify-content: center;
}

.places h1 {
  font-size: 30px;
  text-align: left;
  paddin: 15px;
  flex-basis: 90%;
}

.places article {
  width: 390px;
  padding: 20px;
   margin: 20px;
  border: 1px solid  #FF5A5F;
  border-radius: 4px;
  display: flex;
  order: 2;
  align-content: space-between;
  justify-content: center;
}

.places article h2 {
  font-size: 30px;
  text-align: center;
}
